@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @ThingsToDo.Resources.ThingsToDo.lblError;
}

<h1 class="text-danger">@ThingsToDo.Resources.ThingsToDo.lblError</h1>
<h2 class="text-danger">@ThingsToDo.Resources.ThingsToDo.lblErrorOccurred</h2>

