@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @ThingsToDo.Resources.ThingsToDo.lblLockedOut;
}

<hgroup>
    <h1 class="text-danger">@ThingsToDo.Resources.ThingsToDo.lblLockedOut</h1>
    <h2 class="text-danger">@ThingsToDo.Resources.ThingsToDo.lblLockedOutMessage</h2>
</hgroup>
